* {
  box-sizing: border-box;
}

:root {
  --blue:  rgb(0, 102, 255);
  --grey: #ccc;
  --white: #f5f5f5;
}

.join-container, .chat-container {
  text-align: center;
  background: #222;
  color: var(--grey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.join-form, .chat-box {
  width: 400px;
  padding: .5rem;
  position: relative;
  overflow: hidden;
}

.join-form h1 {
  letter-spacing: 3.5px;
  margin: 0 0 1rem 0;
  padding: 0 0 .3rem 0;
  color: var(--grey);
  border-bottom: 2px solid
}

.join-form input {
  width: 100%;
  margin: 0 0 1.2rem;
  padding: .5rem;
  border: none;
  border-radius: .2rem;
}

.join-form .btn {
  width: 100%;
  border: 0;
  border-radius: .2rem;
  font-size: 1.5rem;
  background-color: var(--blue);
  color: var(--white);
  padding: .2rem 0 0 0;
  cursor: pointer;
}

.chat-box .header {
  display: flex;
  background-color: var(--blue);
  color: var(--white);
  padding: .7rem .4rem .7rem .7rem;
} 

.chat-box .header .room {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: .9rem;
}

.chat-box .header .room .status {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 .2rem 0 0;
}

.online {
  background-color:rgb(33, 252, 33);
}

.offline {
  background-color: white;
}
 
.chat-box .header .option {
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 1;
  cursor: pointer;
}

.chat-box .body {
  background-color: var(--grey);
  height: 350px;
}

.chat-box .chat-form {
  text-align: left;
  width: 100%;
}

.chat-box .chat-form input {
  width: 80%;
  padding: .7rem .5rem;
  border: 0;
}

.chat-box .chat-form button {
  width: 20%;
  padding: .7rem .5rem;
  border: 0;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  
}

.option-menu {
  overflow: hidden;
}

.menu {
  position: absolute;
  right: 8px;
  transform: translatex(100%);
  padding: .3rem;
  border-radius: 0 0 0 .2rem;
  background-color: #222;
  transition: .5s ease-in-out;
}

.menu a {
  text-decoration: none;
  color: currentColor;
}

.menu.show {
  transform: translateX(0);
}

.menu ul {
  margin: 0 .5rem;
  padding: 0;
}

.menu li {
  list-style: none;
  margin: .3rem 0;
  font-size: .9rem;
  cursor: pointer;
}

.welcome-msg {
  display: inline-block;
  color: #222;
  background-color: var(--white);
  border-radius: 1rem;
  padding: .2rem .5rem;
  margin: .5rem 0 0 0;
  text-transform: capitalize;
  font-size: .8rem;
}

.capitalize {
  text-transform: capitalize;
}



